{{!< adminLayout}}

<ul style="list-style: none; display:inline-flex" class="pal1">
    <li><a class="nav-link" href="/admin/post">Novo Post</a></li>
    <li><a class="nav-link" href="/admin/imagem">Listar Imagens</a></li>
    <li><a class="nav-link" href="/admin/list">Listar Posts</a></li>
</ul>



{{#each posts}}

<div class="row bg-light mt-3">
    <div class="col-12 col-sm-4">
        <img src="{{url}}" class="float-left img-thumbnail" alt="..." style="width:300px;height:225px;">
    </div>

    <div class="col-12 col-sm-8">
        <div class="d-flex justify-content-center">
            <br>
            <div class="card border-light" style="width: 70rem;">
                <div class="card-body bg-light">
                    <h3 class="card-title">{{post.titulo}}</h3>
                    {{post.descricao}}
                    <a href="/postagem/{{post.id}}">Ler mais</a>
                    <a href="/admin/edit/{{post.id}}"><button class="btn btn-warning mt-2 btn-sm">Editar</button></a>
                    <a href="/admin/delete/{{post.id}}"><button class="btn btn-danger mt-2 btn-sm"
                            onclick="if (confirm('Deseja realmente excluir a postagem?')) return(1); return false">Deletar</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}

<h5>Nenhuma postagem cadastrada...</h5>

{{/each}}