<ul style="list-style: none; display:inline-flex" class="pal1">
    <li><a class="nav-link"href="/admin">Home</a></li>
    <li><a class="nav-link" href="/admin/post">Novo Post</a></li>
    <li><a class="nav-link" href="/admin/imagem">Listar Imagens</a></li>
</ul>
<br>
{{#each posts}}

<div class="card d-inline-flex" style="width: 165px;height: 240px;">
    <div class="card-body">
        <h5 class="card-title">Id: {{id}} FK: {{fk_imagem}}</h5>

        <p>Titulo:{{titulo}}</p>
        <a href="/admin/edit/{{id}}"><button class="btn btn-warning mt-2 btn-sm">Editar</button></a>
        <a href="/admin/delete/{{id}}"><button class="btn btn-danger mt-2 btn-sm"
                onclick="if (confirm('Deseja realmente excluir a postagem?')) return(1); return false">Deletar</button></a>
    </div>

</div>

{{/each}}