{{#each erros}}

<div class="alert alert-danger">{{texto}}</div>

{{else}}

{{/each}}

<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 50rem" ;>
        <div class="card-body">
            <h2 class="card-title">Editar Post</h2>
            <form action="/admin/edit" method="POST">
                <input type="hidden" name="id" value="{{post.id}}">
                <label for="Titulo">Titulo</label>
                <input type="text" name="titulo" class="form-control" value="{{post.titulo}}">
                <br>
                <label for="Descricao">Descricao:</label>
                <textarea class="form-control" rows="2" name="descricao" style="resize: none;" >{{post.descricao}}</textarea>
                <br>
                <label for="Texto">Texto</label>
                <textarea class="form-control" rows="10" name="texto">{{post.texto}}</textarea>
                <br>
                <input type="file" class="form-control" name="imagem">
                <br>
                <input type="submit" value="Editar" class="btn btn-success">
                <a class="btn btn-warning" href="/">Cancelar</div></a>
            </form>
        </div>
    </div>
</div>