{{#each posts}}
<hr>
<div class="row bg-pal2">
    <div class="col-12 col-sm-4">
        <img src="{{url}}" class="float-left img-thumbnail" alt="..." style="width:300px;height:225px;">
    </div>

    <div class="col-12 col-sm-8">
        <div class="d-flex justify-content-center">
            <br>
            <div class="card border-pal2" style="width: 70rem;">
                <div class="card-body bg-pal2">
                    <h3 class="card-title">{{post.titulo}}</h3>
                    {{post.descricao}}
                    <br>
                    <a href="/admin/edit/{{post.id}}"><button class="btn btn-warning mt-2 btn-sm">Editar</button></a>
                    <a href="/admin/delete/{{post.id}}"><button class="btn btn-danger mt-2 btn-sm"
                            onclick="if (confirm('Deseja realmente excluir a postagem?')) return(1); return false">Deletar</button></a>
                    <a href="/postagem/{{post.id}}"><button class="btn btn-pal3 text-white mt-2 btn-sm">Ler
                            mais</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}

<h5>Nenhuma postagem cadastrada...</h5>

{{/each}}