{{#each posts}}

<div class="row bg-white mt-3">
    <div class="col-12 col-sm-4">
        <img src="{{url}}" class="float-left img-thumbnail" alt="..." style="width:300px;height:225px;">
    </div>

    <div class="col-12 col-sm-8">
        <div class="d-flex justify-content-center">
            <br>
            <div class="card border-light" style="width: 70rem;">
                <div class="card-body bg-white">
                    <h3 class="card-title">{{post.titulo}}</h3>
                    {{post.descricao}}
                    <a href="/postagem/{{post.id}}">Ler mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}

<h5>Nenhuma postagem cadastrada...</h5>

{{/each}}